---
import TypewriterText from "@src/components/TypewriterText.astro";
import SocialLinks from "@src/components/SocialLinks.astro";

import { getSettings } from "lib/sanity/fetch";

const settings = await getSettings();

const github = settings?.social_links_github;
const facebook = settings?.social_links_facebook;
const linkedin = settings?.social_links_linkedin;
const codepen = settings?.social_links_codepen;
const email = settings?.social_links_email;

const displaySocialLinks = [github, facebook, linkedin, codepen, email].some(
	(v) => typeof v === "string",
);
---

<div id="progress-notification">
	<dialog open>
		<code>
			<TypewriterText
				>Build in progress!<br />Check back later...</TypewriterText
			>
		</code>
	</dialog>

	{
		displaySocialLinks ? (
			<div>
				<SocialLinks
					github={github}
					facebook={facebook}
					linkedin={linkedin}
					codepen={codepen}
					email={email}
				/>
			</div>
		) : null
	}
</div>

<style>
	div#progress-notification {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: linear-gradient(to top right, #090909, #191b19);

		& dialog {
			background: #444;
			color: white;
			padding: 1em;
		}
	}
	div {
		display: flex;
		position: absolute;
		bottom: 0;
		padding: 2rem;
		gap: 2rem;
	}
</style>
