---
import InlineCode from "@src/components/InlineCode.astro";
import TypewriterText from "@src/components/TypewriterText.astro";
import SocialLinks from "@src/components/SocialLinks.astro";

import { getSettings } from "lib/sanity/fetch";

const settings = await getSettings();

const github = settings?.social_links_github;
const facebook = settings?.social_links_facebook;
const linkedin = settings?.social_links_linkedin;
const codepen = settings?.social_links_codepen;
const shadertoy = settings?.social_links_shadertoy;
const email = settings?.social_links_email;

const displaySocialLinks = [
	github,
	facebook,
	linkedin,
	codepen,
	shadertoy,
	email,
].some((v) => typeof v === "string");

const urlPath = Astro.url.pathname;
---

<div id="progress-notification">
	<div id="progress-notification__text">
		<code>
			<TypewriterText
				>Build in progress at <InlineCode as="span"
					>{urlPath}</InlineCode
				>!<br />Check back later...</TypewriterText
			>
		</code>
	</div>

	{
		displaySocialLinks ? (
			<div id="progress-notification__social-links">
				<SocialLinks
					github={github}
					facebook={facebook}
					linkedin={linkedin}
					codepen={codepen}
					shadertoy={shadertoy}
					email={email}
					class="*:fill-gray-400 hover:*:fill-gray-300 *:duration-200"
				/>
			</div>
		) : null
	}

	<style>
		div#progress-notification {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: linear-gradient(
				to top right,
				theme(colors.base.dark.1),
				theme(colors.base.dark.2)
			);

			& div#progress-notification__text {
				background: #444;
				padding: 1em;
				max-width: 40ch;

				@screen lg {
					max-width: 60ch;
				}
			}

			& div#progress-notification__social-links {
				display: flex;
				position: absolute;
				bottom: 0;
				padding: 2rem;
				gap: 2rem;
			}
		}
	</style>
</div>
