---
import CodepenIcon from "@src/components/icons/CodepenIcon.astro";
import FacebookIcon from "@src/components/icons/FacebookIcon.astro";
import GithubIcon from "@src/components/icons/GithubIcon.astro";
import LinkedinIcon from "@src/components/icons/LinkedinIcon.astro";
import EmailIcon from "@src/components/icons/EmailIcon.astro";
import ShadertoyIcon from "@src/components/icons/ShadertoyIcon.astro";

export type Props = {
	github?: string;
	facebook?: string;
	linkedin?: string;
	codepen?: string;
	shadertoy?: string;
	email?: string;
	class?: string;
};

const {
	github,
	facebook,
	linkedin,
	codepen,
	shadertoy,
	email,
	class: className,
} = Astro.props;
---

{
	typeof github === "string" ? (
		<a target="_blank" href={github} class={className} title="Github">
			<GithubIcon class="size-full" />
		</a>
	) : null
}
{
	typeof facebook === "string" ? (
		<a target="_blank" href={facebook} class={className} title="Facebook">
			<FacebookIcon class="size-full" />
		</a>
	) : null
}
{
	typeof linkedin === "string" ? (
		<a target="_blank" href={linkedin} class={className} title="LinkedIn">
			<LinkedinIcon class="size-full" />
		</a>
	) : null
}
{
	typeof codepen === "string" ? (
		<a target="_blank" href={codepen} class={className} title="Codepen">
			<CodepenIcon class="size-full" />
		</a>
	) : null
}
{
	typeof shadertoy === "string" ? (
		<a target="_blank" href={shadertoy} class={className} title="Shadertoy">
			<ShadertoyIcon class="size-full" />
		</a>
	) : null
}
{
	typeof email === "string" ? (
		<a
			target="_blank"
			href={`mailto:${email}`}
			class={className}
			title="Email">
			<EmailIcon class="size-full" />
		</a>
	) : null
}
