---
import CodepenIcon from "@src/components/icons/CodepenIcon.astro";
import FacebookIcon from "@src/components/icons/FacebookIcon.astro";
import GithubIcon from "@src/components/icons/GithubIcon.astro";
import LinkedinIcon from "@src/components/icons/LinkedinIcon.astro";
import EmailIcon from "@src/components/icons/EmailIcon.astro";
import ShadertoyIcon from "./icons/ShadertoyIcon.astro";

export type Props = {
	github?: string;
	facebook?: string;
	linkedin?: string;
	codepen?: string;
	shadertoy?: string;
	email?: string;
};

const { github, facebook, linkedin, codepen, shadertoy, email } = Astro.props;
---

{
	typeof github === "string" ? (
		<a target="_blank" href={github}>
			<GithubIcon />
		</a>
	) : null
}
{
	typeof facebook === "string" ? (
		<a target="_blank" href={facebook}>
			<FacebookIcon />
		</a>
	) : null
}
{
	typeof linkedin === "string" ? (
		<a target="_blank" href={linkedin}>
			<LinkedinIcon />
		</a>
	) : null
}
{
	typeof codepen === "string" ? (
		<a target="_blank" href={codepen}>
			<CodepenIcon />
		</a>
	) : null
}
{
	typeof shadertoy === "string" ? (
		<a target="_blank" href={shadertoy}>
			<ShadertoyIcon />
		</a>
	) : null
}
{
	typeof email === "string" ? (
		<a target="_blank" href={`mailto:${email}`}>
			<EmailIcon />
		</a>
	) : null
}

<style>
	:global(
		svg[data-icon="github"],
		svg[data-icon="facebook"],
		svg[data-icon="linkedin"],
		svg[data-icon="codepen"],
		svg[data-icon="shadertoy"],
		svg[data-icon="email"]
	) {
		width: 2rem;
		height: 2rem;
		fill: gray;
		transition: fill 100ms ease-in-out;
		&:hover {
			fill: lightgray;
		}
	}
</style>
