---
import type { Metadata } from "@src/types";

import Title from "@src/layouts/Title.astro";
import SharedMetaTags from "@src/layouts/SharedMetaTags.astro";
import GeneratedMetaTags from "@src/layouts/GeneratedMetaTags.astro";
import SharedLinks from "@src/layouts/SharedLinks.astro";
import SharedScripts from "@src/layouts/SharedScripts.astro";

import BebasNeueProvider from "@src/components/fonts/BebasNeueProvider.astro";
import DosisProvider from "@src/components/fonts/DosisProvider.astro";
import IcebergProvider from "@src/components/fonts/IcebergProvider.astro";
import MichromaProvider from "@src/components/fonts/MichromaProvider.astro";
import BoldonseProvider from "@src/components/fonts/BoldonseProvider.astro";
import Jersey15Provider from "@src/components/fonts/Jersey15Provider.astro";

type Props = {
	title?: string;
	subtitle?: string;
	metadata?: Metadata;
};

const { title, subtitle, metadata } = Astro.props;
---

<html class="bg-base-dark-2">
	<head>
		<Title title={title} subtitle={subtitle} />

		<!-- Font Providers -->
		<DosisProvider />
		<IcebergProvider />
		<MichromaProvider preload />
		<BoldonseProvider />
		<Jersey15Provider />
		<BebasNeueProvider />

		<SharedMetaTags />
		<SharedLinks />
		<SharedScripts />

		<GeneratedMetaTags
			abstract={metadata?.abstract}
			author={metadata?.author}
			description={metadata?.description}
			keywords={metadata?.keywords}
			robots={metadata?.robots}
			httpContentType={metadata?.httpContentType}
			httpRefresh={metadata?.httpRefresh}
		/>
	</head>

	<body
		class="w-full min-h-dvh text-base-dark-text-default overflow-x-hidden">
		<slot />
	</body></html
>
